<% layout('layouts/boilerplate.ejs') -%> 
<style>

</style>

<% console.log(league) %> 

<form action="/leagues/<%= league._id %>?_method=DELETE" method="post"><button class="btn btn-danger">Delete</button></form>

<form action="/leagues/<%= league._id %>?_method=PATCH" method="post">
    <div class="d-block col-md-6">
      <label for="name" class="form-label">name</label>
      <input value="<%=league.name%>" type="text" class="form-control" id="name" name="name">
    </div>
    <div class="d-block col-md-6">
      <label for="first" class="form-label">Country</label>
      <input value="<%=league.country%>" type="text" class="form-control" id="country" name="country">
    </div>
    <div class="d-block col-md-6">
      <label for="tier" class="form-label">Tier</label>
      <input value="<%= league.tier %>" type="number" class="form-control" id="tier" name="tier">
    </div>
    <div class="d-block col-md-6">
        <label for="photo" class="form-label">Photo</label>
        <input value="<%= league.photo %>" type="text" class="form-control" id="photo" name="photo">
    </div>
    <div class="container my-3">
        <img src="<%=league.photo%>" alt="">
    </div>
    <div class="d-block col-md-6">
        <label for="url" class="form-label">Url</label>
        <input value="<%= league.url %>" type="url" class="form-control" id="url" name="url">
    </div>
    <div class="col-12 my-3">
      <button type="submit" class="btn btn-success">Edit</button>
    </div>
  </form>