<% layout('layouts/boilerplate.ejs') -%>
    <style>
        .scor {
            background-color: rgb(2, 78, 2);
            padding: 2px 8px;
            border-radius: 3px;
            color: white;
        }

        h5 {
            text-align: center;
            margin: 2rem 0;
        }

        thead th {
            /* padding:0.4rem 0 !important; */
            background-color: black !important;
        }

        td {
            padding: 0;
            vertical-align: middle;
        }

        td div img,
        td div {
            margin: 0
        }
    </style>



    <a href="/leagues/<%= league._id %>/matches/update"><button class="btn btn-secondary m-3">update</button></a>
    <a href="/matches/newMatch"><button class="btn btn-secondary m-3">new Match</button></a>

    <div class="row">
        <div class="container mt-3 mb-5 col-8 offset-2">
            <% let etapaCurenta=0%>
                <% for(meci of meciuriLiga1.reverse()){ %>
                    <% if(!meci || !meci.visit || !meci.host) continue %>
                        <% if(etapaCurenta !==meci.etapa){ %>
                            </tbody>
                            </table>
                            <h5>Etapa: <%= meci.etapa %>
                            </h5>
                            <table class="table table-dark table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">date</th>
                                        <th scope="col" style="text-align: right;">host</th>
                                        <th scope="col" class="host-logo"></th>
                                        <th scope="col" class="host-score"></th>
                                        <th scope="col" class="visit-score"></th>
                                        <th scope="col" class="visit-logo"></th>
                                        <th scope="col">visitor</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% etapaCurenta=meci.etapa %>
                                        <% } %>

                                            <tr style="max-height: 10px;">
                                                <td>
                                                    <%= meci.date %>
                                                </td>
                                                <td class="" style="text-align:right;"><a
                                                        href="/matches/<%= meci._id %>">
                                                        <%= meci.host.name %>
                                                    </a> </td>
                                                <!-- <td class="" style="padding: 0"><a href="/SuperLiga/matches/<%= meci._id %>"><div style="height: 50px; width: 50px; margin:auto;"><img style="height: 100%; width: 100%; margin-left: auto;"  src="<%= meci.host.logo %>" alt=""></div></a></td> -->
                                                <td><a style="margin: 0; padding:0" href="/matches/<%= meci._id %>">
                                                        <div
                                                            style="height: 50px; width: 40px; display: flex; align-items: center; justify-content: center;margin:auto;">
                                                            <img style="height: 90%; width: 90%; margin-top: auto; object-fit: cover;"
                                                                src="<%= meci.host.logo %>" alt="<%= meci.host.name %>">
                                                        </div>
                                                    </a></td>
                                                <td class="" style="text-align:center ;"><span class="scor">
                                                        <%= meci.hostScore ? meci.hostScore : '-' %>
                                                    </span> </td>
                                                <td class="" style="text-align:center ;"><span class="scor">
                                                        <%= meci.visitScore ? meci.visitScore : '-' %>
                                                    </span> </td>
                                                <td><a style="margin: 0; padding:0" href="/matches/<%= meci._id %>">
                                                        <div
                                                            style="height: 50px; width: 40px; display: flex; align-items: center; justify-content: center;margin:auto;">
                                                            <img style="height: 90%; width: 90%; margin-top: auto; object-fit: cover;"
                                                                src="<%= meci.visit.logo %>"
                                                                alt="<%= meci.visit.name %>"></div>
                                                    </a></td>
                                                <!-- <td class="" style="padding: 0"><a href="/SuperLiga/matches/<%= meci._id %>"><div style="height: 50px; width: 50px; margin:auto;"><img style="height: 100%; width: 100%; margin-left: auto;"  src="<%= meci.visit.logo %>" alt=""></div></a></td> -->
                                                <td><a href="/matches/<%= meci._id %>">
                                                        <%= meci.visit.name %>
                                                    </a> </td>
                                                <td>
                                                    <%= meci.hostSquad.length %>
                                                </td>
                                                <td>
                                                    <%= meci.visitSquad.length %>
                                                </td>
                                                <!-- <td>x</td> -->
                                            </tr>
                                            <% } %>
                                </tbody>
                            </table>
        </div>
    </div>