<% layout('layouts/boilerplate.ejs') -%>  



    <a href="/SuperLiga/matches/newMatch"><button class="btn btn-secondary m-3">new Match</button></a>

    <div class="row">
        <div class="container mt-3 mb-5 col-8 offset-2">
            <table class="table table-dark table-hover table-bordered">
                <thead>
                    <tr>
                    <th scope="col">date</th>
                    <th scope="col">host</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">visitors</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(meci of meciuriLiga1){ %>
                    <tr style="max-height: 10px;">
                        <td> </td>
                        <td style="text-align:right ;"><a href="/SuperLiga/matches/<%= meci._id %>"><%= meci.host.name %></a> </td>
                        <td style="padding: 0"><a href="/SuperLiga/matches/<%= meci._id %>"><div style="height: 50px; width: 50px; margin:auto;"><img style="height: 100%; width: 100%; margin-left: auto;"  src="<%= meci.host.logo %>" alt=""></div></a></td>
                        <td style="text-align:center ;">x</td>
                        <td style="text-align:center ;">x</td>
                        <td style="padding: 0"><a href="/SuperLiga/matches/<%= meci._id %>"><div style="height: 50px; width: 50px; margin:auto;"><img style="height: 100%; width: 100%; margin-left: auto;"  src="<%= meci.visit.logo %>" alt=""></div></a></td>
                        <td><a href="/SuperLiga/matches/<%= meci._id %>"><%= meci.visit.name %></a> </td>
                        <td>x</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>