<% layout('layouts/boilerplate.ejs') -%>
<style>
    body{
        color:black;
    }
    a{
        color:black;
    }
</style>

<h2><a href="/SuperLiga/matches/<%= meci._id %>/host"><%= meci.host.name %></a>   vs   <a href="/SuperLiga/matches/<%= meci._id %>/visit"><%= meci.visit.name %></a>  </h2>

<h5>jucatori gazde</h5>
<ul>
    <% for(jucator of meci.hostSquad){ %>
        <li><%= jucator.id.last + '  ' + jucator.id.first %> </li>
    <% } %>  
</ul>
<h5>jucatori oaspeti</h5>
<ul>
    <% for(jucator of meci.visitSquad){ %>
        <li><%= jucator.id.last + '  ' + jucator.id.first %> </li>
    <% } %>  
</ul>